.circle-title {
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
    background: url('../../assets/images/stain.svg') top center no-repeat;
    color: white;
    background-size: 50% 100%;
    padding: 30px 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 33%;
    padding: 20px;
}


.choice-box {
    border: 1px solid #e5e5e5;
    padding: 15px;
    height: 200px;
}

.choice-box__title {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
