.shablet {
  background: rgba(255, 255, 255, 0.9);
  line-height: 1.4em;
  padding: 20px;
  margin: 0 15px 60px 15px;
}

@media screen and (min-width: 768px) {
  .about-banner {
    background: url('../../assets/images/banner.jpeg') top center no-repeat;
    background-size: cover;
    height: 70%;
  }

  .shablet {
    background: white;
    margin: auto;
    margin-top: -30vh;
    padding: 30px 50px;
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.3);
    min-height: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .shablet {
    padding: 50px 100px;
  }
}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1440px) {}
