.nav-bar {
  padding: 10px 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}

.nav-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-bar__link, .side-nav__link {
  transition: color 0.4s;
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 0 15px;
  text-decoration: none;
  text-align: center;
  color: #aaa;
}


.nav-bar__link.is-selected, .side-nav__link.is-selected {
  color: #333;
}

.nav-bar__link:after {
  transition: width 0.5s;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 0;
  border-bottom: 2px solid orangered;
}

.nav-bar__link.is-selected:after, .nav-bar__link:hover:after {
  width: calc(100% - 30px);
}

.side-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.4s;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background: white;
  padding-top: 40px;
  width: 0;
  overflow: hidden;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.3);
}

.side-nav.is-selected {
  width: 100%;
}

.side-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav__link {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 15px 40px;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .nav-bar {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 767px) {
  .side-nav .contact-section__link {
    color: black;
  }

  .side-nav footer {
    flex: 1;
    width: 100%;
    display: flex;
  }

  .side-nav .contact-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 60px;
  }
}
