.services {
  margin-top: 60px;
}

.services__section:nth-child(even) {
  direction: ltr;
}

.services__section {
  line-height: 1.4em;
}

.services__section + .services__section {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.services__title {
  margin-top: 0;
  text-align: center;
}

.services__article {
  display: inline-block;
  text-align: justify;
  padding: 15px;
  vertical-align: top;
  direction: rtl;
}

.services__image {
  margin: auto;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .services__section + .services__section {
    margin-top: 60px;
    border-top: none;
  }

  .services__article{
    width: 60%;
  }
  .services__image {
    width: calc(40% - 30px);
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 1024px) {
  .services__section + .services__section {
    margin-top: 150px;
  }

  .services__article{
    width: 66%;
  }
  .services__image {
    width: calc(33% - 30px);
  }
}
