.footer {
  background: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  color: #f1f1f1;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.contact-section {
  display: flex;
  align-items: center;
  direction: ltr;
}

.contact-section__icon {
  margin: 0 5px;
  display: block;
  width: 30px;
}

.contact-section__link {
  color: #f1f1f1;
  display: block;
  margin: 0 5px;
}

.social-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
