/* Palation font */
@font-face {
    font-family: palatino;
    font-weight: normal;
    src: url("./assets/fonts/palatino-webfonts/bahij/Palatino Sans-Regular.woff") format("woff"),
    url("./assets/fonts/palatino-webfonts/bahij/PalatinoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: palatino;
    font-weight: bold;
    src: url("./assets/fonts/palatino-webfonts/bahij/PalatinoSans-Bold.woff") format("woff"),
    url("./assets/fonts/palatino-webfonts/bahij/PalatinoSans-Bold.ttf") format("truetype");
}

/* Diroz font */
@font-face {
    font-family: dirooz;
    src: url("./assets/fonts/Dirooz/Dirooz-WOL.woff2") format("woff2"),
    url("./assets/fonts/Dirooz/Dirooz-WOL.woff") format("woff"),
    url("./assets/fonts/Dirooz/Dirooz-WOL.ttf") format("truetype"),
    url("./assets/fonts/Dirooz/Dirooz-WOL.eot");
}

* {
    box-sizing: border-box;
}

::selection {
    background: #ffb7b7;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: white;
    font-family: dirooz;
    direction: rtl;
    text-align: right;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

.text-orange {
    color: orangered;
}

.icon {
    display: inline-block;
}
