/* Palation font */
@font-face {
    font-family: palatino;
    font-weight: normal;
    src: url("./assets/fonts/palatino-webfonts/bahij/Palatino Sans-Regular.woff") format("woff"),
    url("./assets/fonts/palatino-webfonts/bahij/PalatinoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: palatino;
    font-weight: bold;
    src: url("./assets/fonts/palatino-webfonts/bahij/PalatinoSans-Bold.woff") format("woff"),
    url("./assets/fonts/palatino-webfonts/bahij/PalatinoSans-Bold.ttf") format("truetype");
}

/* Diroz font */
@font-face {
    font-family: dirooz;
    src: url("./assets/fonts/Dirooz/Dirooz-WOL.woff2") format("woff2"),
    url("./assets/fonts/Dirooz/Dirooz-WOL.woff") format("woff"),
    url("./assets/fonts/Dirooz/Dirooz-WOL.ttf") format("truetype"),
    url("./assets/fonts/Dirooz/Dirooz-WOL.eot");
}

/* IRANSans font */
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_Black.eot');
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_Bold.eot');
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_Medium.eot');
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_Light.eot');
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb.eot');
	src: url('./assets/fonts/IRANSans/WebFonts/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/IRANSans/WebFonts/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

::selection {
    background: #ffb7b7;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: white;
    font-family: IRANSans, Roboto, sans-serif;
    direction: rtl;
    text-align: right;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

.text-orange {
    color: orangered;
}

.icon {
    display: inline-block;
}

.container {
	margin: auto;
	padding: 0 15px;
}

.content {
    overflow: auto;
    height: calc(100vh - 180px);
}
  
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;  
    }
}

.text-center {
    text-align: center;
}

button, input, optgroup, select, textarea {
	font-family: IRANSans, roboto, sans-serif;
}

textarea:focus, input:focus, a:focus, button:focus {
	outline: 1px solid rgba(255, 68, 0, 0.548);
	outline-offset: -1px;
}
