.landing-screen {
    padding: 5vh;
    height: 100vh;
    text-align: center;
    font-size: 26px;
    overflow: hidden;
}

.landing-screen:before{
    content: '';
    display: block;
    background: url(../../assets/images/pencil.jpg) no-repeat bottom right;
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.landing-screen__content{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.landing-screen__img {
    max-height: 25vh;
}

.landing-screen__poem:before{
    content: '\201D';
    width: 100%;
    font-size: 5vh;
    line-height: 60px;
    height: 3vh;
    margin: 5px 0;
    font-weight: bold;
    color: orangered;
    text-align: right;
    vertical-align: middle;
}

.landing-screen__poem:after{
    content: '\201C';
    width: 100%;
    text-align: left;
    line-height: 60px;
    height: 3vh;
    margin: 5px 0;
    font-weight: bold;
    color: orangered;
    vertical-align: middle;
    font-size: 5vh;
}

.poem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    padding: 15px;
    margin: 0;
}

.poem__verse {
    width: 50%;
    display: block;
}

.poem__verse:nth-child(odd) {
    text-align: right;
    padding-left: 10px;
}

.poem__verse:nth-child(even) {
    text-align: left;
    padding-right: 10px;
}

.landing-screen__first-header {
    font-size: 34px;
    text-align: center;
    margin: 0;
    color: #222;
    margin: 5px;
    margin-top: 50px;
}

.landing-screen__second-header {
    font-size: 26px;
    margin: 0;
    color: #666;
    margin: 5px;
    text-align: center;
}

.landing-screen__pager {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    width: 50px;
    margin: auto;
    font-size: 70px;
    line-height: 1em;
    align-self: center;
    color: orangered;
}

.landing-screen__pager:hover {
    animation: suspend 1s infinite;
}

@media screen and (max-width: 1024px){
    .landing-screen:before{
        background-position: bottom 0 right 20%;
    }
}

@media screen and (max-width: 720px) , (max-height: 470px) {
    .landing-screen {
        font-size: 4vh;
        padding: 15px;        
    }

    .poem__verse {
        width: 100%;
    }

    .poem__verse:nth-child(odd), .poem__verse:nth-child(even) {
        padding: 0;
        text-align: center;
    }

    .landing-screen__poem {
        margin: 0;
    }

    .landing-screen:before {
        background: url(../../assets/images/desk.jpg) no-repeat top center;
        background-size: cover;
        filter: blur(2px);
    }

    .landing-screen__content {
        background: rgba(255, 255, 255, 0.8);
        height: 100%;
        width: 100%;
    }

    .landing-screen__first-header {
        font-size: 6vh;
    }

    .landing-screen__second-header {
        font-size: 5vh;
    }
}

@media screen and (max-width: 470px) {
    .landing-screen {
        font-size: 20px;
    }

    .landing-screen__first-header {
        margin-top: 20px;
        font-size: 22px;
    }

    .landing-screen__second-header {
        font-size: 18px;
    }
}

@media screen and (max-height: 520px) {
    .landing-screen__first-header {
        margin-top: 0;
    }

    .landing-screen__pager {
        margin: 0;
        right: auto;
        left: 20px;
        bottom: 10px;
        font-size: 50px;
    }
}

@keyframes suspend {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-9px);
    }
    100% {
        transform: translateY(0);
    }
}

.fade-enter {
    opacity: 0.01;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
  }
  
