.landing-screen {
    padding: 60px;
    height: 100vh;
    font-size: 25px;
    text-align: center;
}

.landing-screen:before{
    content: '';
    display: block;
    background: url(../../assets/images/pencil.jpg) no-repeat bottom right;
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.landing-screen__content{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.landing-screen__quote {
    width: 100%;
}

.landing-screen__poem:before{
    content: '\201D';
    width: 100%;
    font-size: 40px;
    line-height: 1em;
    height: 22px;
    margin: 5px 0;
    font-weight: bold;
    color: orangered;
    text-align: right;
    vertical-align: middle;
}

.landing-screen__poem:after{
    content: '\201C';
    width: 100%;
    text-align: left;
    line-height: 1em;
    height: 22px;
    margin: 5px 0;
    font-weight: bold;
    color: orangered;
    vertical-align: middle;
    font-size: 40px;
}

.poem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    padding: 15px;
    margin: 0;
}

.poem__verse {
    width: 50%;
    display: block;
}

.poem__verse:nth-child(odd) {
    text-align: left;
    padding-left: 30px;
}

.poem__verse:nth-child(even) {
    padding-right: 30px;
    text-align: left;
}

.poem__verse:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: orangered;
    border-radius: 100px;
    margin: 0 5px;
}

.landing-screen__first-header {
    font-size: 38px;
    text-align: center;
    margin: 0;
    color: #222;
    margin: 5px;
    margin-top: 50px;
}

.landing-screen__second-header {
    font-size: 22px;
    margin: 0;
    color: #666;
    margin: 5px;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .landing-screen:before{
        background-position: bottom 0 right 20%;
    }
}

@media screen and (max-width: 720px){
    .landing-screen {
        padding: 15px;        
    }
    .poem__verse {
        width: 100%;
    }
    .poem__verse:nth-child(odd), .poem__verse:nth-child(even) {
        padding: 0;
        text-align: center;
    }
    .landing-screen__poem {
        margin: 0;
    }
}

@media screen and (max-width: 470px) {
    .landing-screen__first-header {
        font-size: 30px;
        margin-top: 20px;
    }
    .poem__verse:nth-child(odd), .poem__verse:nth-child(even) {
        text-align: justify;
    }
}
